# Dependencies
node_modules
.pnpm-store

# Next.js
client/.next/
client/out/

# Environment Variables
.env
.env.local
.env.production
client/.env.local
server/.env

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS Files
.DS_Store
Thumbs.db

# Build Outputs
dist
build

# Meilisearch Local Files
server/scripts/meilisearch.exe
server/scripts/data.ms/
